<% if @feeds.empty? %>
  <div class="alert">
    <strong>No news</strong> at the moment
  </div>
<% else %>
  <% @feeds.each do |feed| %>
    <h2><%= link_to feed.title, feed %></h2>
    <% feed.newsitems.where(unread: 1) \
      .order("published desc").limit(3).each do |news| %>
        <%= render "newsitem", item: news %>
    <% end %>
    <hr>
  <% end %>
<% end %>

