<% if nothing_to_read_from? @feeds %>
  <div class="alert">
    <strong>No news</strong> at the moment
  </div>
<% else %>
  <% filter_read(@feeds).each do |feed| %>
    <h2><%= link_to feed.title, feed %></h2>
    <% feed.newsitems.where(unread: 1) \
      .order("published desc").limit(3).each do |news| %>
        <%= render "summary", item: news %>
    <% end %>
    <hr>
  <% end %>
<% end %>

<% content_for :title do %>
  <%= title("Feeds") %>
<% end %>
