<div class="row">
  <div class="col-md-12 pull-right">
    <div class="btn-group pull-right">
      <a href="<%= url_for [@feed, @newsitem.prev] %>" class="btn btn-default <%= disabled? @newsitem.prev%>"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a href="<%= url_for [@feed, @newsitem.next] %>" class="btn btn-default <%= disabled? @newsitem.next%>"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
