<div id="news_nav" class="row">
  <div class="col-md-12 pull-right">
    <div class="btn-group pull-right">
      <a href="<%= url_for [feed, news.prev] %>" class="btn btn-default <%= disabled? news.prev%>"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a href="<%= url_for [feed, news.next] %>" class="btn btn-default <%= disabled? news.next%>"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
