<div class="well well widget widget-transparent feed">
<h2><%= link_to @newsitem.title, @newsitem.permalink, target: '_blank' %></h2>
<div class="feed-content">
  <%= (@newsitem.content || @newsitem.summary || '').html_safe %>
</div>
</div>
