# Add application configuration variables here, as shown below.
#

app_name: shreds
app_host: "http://read.shreds.me"

# Allow user to automatically signed up when login via Oauth
# comment to disable
allow_signup: yes

# Should verify ssl cert when fetching feeds?
# comment to disable
ssl_verify: yes

# Application secret key used in production environment
shreds_secret: ""

# event pool / sidekiq redis config
redis_host:
redis_port:

# redis pool connection size
redis_conns: 15

# redis pool timeout
redis_timeout: 30

# Rails cache servers, separated by space
cache_servers: "127.0.0.1:11211 127.0.0.1:6379"

# Stathat account key for send analytics to stathat
stat_account:

# If you want to keep some html tags from being sanitized,
# put those tags on this whitelist.
# Please keep in mind that some tags may put your site in risks
# of being hijacked eg. script and style tag
whitelist_tags: "figure iframe"

# Twitter key/secret for Oauth
twitter_key: ""
twitter_secret: ""

# set remote ip to allow access to better_errors
# only set this on development environment
trusted_ip:
