<ol class="breadcrumb">
    <li>
        <span class="glyphicon glyphicon-th-list"></span>
        {{#if category}}
            <a href="/categories">{{category.name}}</a>
        {{else}}
            <a href="/categories">All Categories</a>
        {{/if}}
    </li>
    {{#if feed}}
        <li><a href="{{feed.path}}">{{feed.title}}</a></li>
    {{/if}}
</ol>
