<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Backyard</li>
    <li class="active">Subscriptions List</li>
</ol>

<% content_for :title do %>
  <%= title('Backyard:Subscriptions') %>
<% end %>
