// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 990px) {
    #feeds-frame {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 990px) {
    #feeds-frame {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

header > h2, header > h1 { display: inline-block; }
header span { margin-left: 4px; }

.feed-content {
    font-family: 'Alegreya', 'Libre Baskerville', "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4;

    img {
        max-width: 100% !important;
        width: 0;
        height: auto;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    p {
        margin-top: 1em;

        img {
            display: block;
        }
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#news_nav {
    padding: 16px;
}

a:hover, a:focus {
    text-decoration: none;
}

#scrollUp {
    bottom: 84px;
    right: 36px;
    font-size: 30px;
    color: rgba(255,255,255, 0.5);
    width: 50px;
    height: 50px;
    padding-left: 7px;
    padding-top: 10px;
    background-color: rgba(25, 25, 25, 0.5);
    opacity: 0.5;
    border-radius: 50%;

    &:hover {
        color: white;
        background-color: rgba(25, 25, 25, 0.7);
        opacity: 0.7;
    }
}

i.extra.small.icon, i.extra.small.icons {
    font-size: 60%;
}

blockquote {
    font-style: italic;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\201C""\201D";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }

    p {
        display: inline;
    }
}

code, pre {
    font-size: 1rem;
}

.feed-title, .feed-title.ui.header, .ui.header {
    i.external {
        display: none;
    }

    &:hover i.external {
        display: inline;
    }
}

h1.feed-title.ui.header {
    padding-top: 1em;

    + .ui.vertical.segment {
        padding-top: 0;
    }
}

.ui.vertical.segment {
    ~ .ui.vertical.segment {
        padding-top: 2em;
    }
    padding-bottom: 3em;
}

.ui.grid > .column--take-the-rest-of-space {
    flex: 1 1 0;
}

#pager {
    margin-top: 2em;
    margin-bottom: 0;
}

