// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// http://stackoverflow.com/questions/9350818
.sidebar-nav-fixed {
    padding: 9px;
    position:fixed;
    width: 228px;
    height: 100%;
    left: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-container {
    position: absolute;
    bottom: 68px;
    top: 158px;
    overflow: auto;
}

.row > .span-fixed-sidebar {
    margin-top: 16px;
    margin-left: 283px;
    margin-right: 16px;
}

.feed-content {
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.feed {
    width: auto;
}

.widget-transparent {
    background-color: transparent;
}

hr {
    width: 90%;
    text-align: center;
}

.nav-list > li:hover, li.nav-item > a:hover {
    background-color: #eaeaea;
}

.nav-item > span > a {
    margin-right: 5px;
}

.nav-item > span {
    margin-right: 15px;
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);
}

.dropdown-menu > li > a {
    color: white;
}

#new_feed input[type="text"], textarea, textarea:focus {
    border: none;
    border-bottom: 2px solid #9c9c9c;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#new_feed textarea {
    resize: none;
}

.feed {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.unread-num {
    margin-right: -20px;
    font-size: 70%;
    background-color: rgba(120,120,120,.6);
}
