// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-content {
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.feed {
    width: auto;
}

.widget-transparent {
    background-color: white;
}

hr {
    width: 90%;
    text-align: center;
}

#new_feed {
    margin-left: 0px;
    margin-right: 0px;
}

#new_feed input[type="text"], #new_feed textarea, #new_feed textarea:focus {
    border: none;
    border-bottom: 2px solid #9c9c9c;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

#new_feed textarea {
    resize: none;
    height: 54px;
}

.feed {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

header > h2, header > h1 { display: inline-block; }
header span { margin-left: 4px; }

.glyph-sm {
    font-size: 60%;
}

#container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
