// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// http://stackoverflow.com/questions/9350818
.sidebar-nav-fixed {
    padding: 9px;
    position:fixed;
    width: 220px;
    height: 100%;
    left: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.row > .span-fixed-sidebar {
    margin-top: 16px;
    margin-left: 275px;
    margin-right: 16px;
}

.nav-item {
    margin-left: 24px;
}

.feed-content {
    font-family: "ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

.feed {
    width: auto;
}

.widget-transparent {
    background-color: transparent;
}

hr {
    width: 90%;
    text-align: center;
}

.nav-list > li:hover, li.nav-item > a:hover {
    background-color: #eaeaea;
}

.nav-container {
    overflow:auto;
}
