
.block--hidden {
    display: none;
}

.element--full-width {
    width: 100%;
}

.row--inline-containing-elements {
    display: flex;
}

.text--muted {
    color: #777777;
}

.text--small {
    font-size: 75%;
}

