// http://stackoverflow.com/questions/9350818
@media screen and (min-width:1000px) {
    #side-navigator {
        padding: 9px 9px 9px 0px;
        position:fixed;
        z-index: 1;
        height: 100%;
        left: 0px;
        background-color: #f8f8f8;
        border-right: 1px solid #dddddd;
    }

    #nav-container {
        position: absolute;
        bottom: 48px;
        top: 56px;
        overflow: auto;
        border-width: 1px 0 1px 0;
        border-color: #e5e5e5;
        border-style: solid;
        width: 100%;
    }

    .nav-buttons {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 46px;
        margin-bottom: 0px;
        padding-left: 0px;

        li {
            height: 46px;
            border-left: 1px solid #e5e5e5;
            span {
                padding: 9px 0px 9px 0px;
                font-size: 18pt;
                width: 100%;
                height: 100%;
            }

            &:first-child {
                border-left: 0px;
            }
        }
    }

    #subscribe-form {
        margin-right: -9px;
        padding-right: 9px;
        position: relative;
        background-color: #f8f8f8;
        z-index: 1;
    }

    .breadcrumbs {
        display: none !important;
    }

}

@media screen and (max-width:1000px) {
    #side-navigator {
        display: none !important;
    }
}

#new_feed .form-control {
    width: 100%;
}

.favicon {
    margin-top: 0px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

.nav-item {
    height: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    border-bottom: 1px solid #e5e5e5;

    &:first-child {
        border-top: 1px solid #e5e5e5;
    }

    &.active {
        background-color: #eaeaea;
        box-shadow:         inset 0px 0px 7px rgba(50, 50, 50, 0.20);
    }
}

.nav-list {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.nav-list > li.nav-item:hover, li#to_the_front:hover {
    background-color: #eaeaea;
}

.nav-list > li.nav-item {
    cursor: pointer;
}

li#to_the_front.active {
    background-color: #eaeaea;
}

.nav-item > span {
    margin-right: 15px;
}

.nav-header {
    margin-top: 8px;
    font-size: 16px;
    padding-left: 0px;
}

.nav-header > span {
    margin-left: 9px;
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);
}

.dropdown-menu > li > a {
    color: white;
}

.unread-num {
    padding: 4px;
    background-color: rgba(120,120,120,.6);
}

.fileupload-area {
    position: relative;
    overflow: hidden;
    height: 64px;
    width: 64px;
}

#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 1px;
    direction: ltr;
    cursor: pointer;
}

.flex {
    font-size: 16px;
    margin-bottom: 0px;
    display: flex;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-header:first-child {
    margin-top: 0px;
}

#main-logo {
    display: inline-block;
}

.tooltip {
    z-index: 2;
}

.text-muted {
    color: #777777;
}
