// http://stackoverflow.com/questions/9350818
@media screen and (min-width:1152px) {
.sidebar-nav-fixed {
    padding: 9px 9px 9px 0px;
    position:fixed;
    z-index: 9000;
    width: 386px;
    height: 100%;
    left: 0px;
    background-color: #f8f8f8;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-buttons {
    position: absolute;
    bottom: 0px;
}

#subscribe_form {
    margin-right: 18px;
    margin-left: 9px;
    padding-bottom: 9px;
    position: absolute;
    background-color: #f8f8f8;
    z-index: 1000;
    width: 357px;
}

.nav {
    width: 367px;
}

.nav-container {
    position: absolute;
    bottom: 48px;
    top: 84px;
    left: 0px;
    right: 0px;
    overflow: auto;
    border-width: 1px 0 1px 0;
    border-color: #e5e5e5;
    border-style: solid;
}

.breadcrumbs {
    display: none !important;
}

}

@media screen and (max-width:1152px) {
.sidebar-nav-fixed {
    padding: 9px 9px 9px 0px;
    position: fixed;
    z-index: 9000;
    width: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    background-color: #f8f8f8;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-buttons {
    display: none;
    position: absolute;
    bottom: 0px;
}

#subscribe_form {
    margin-right: 9px;
    margin-left: 9px;
    padding-bottom: 9px;
    padding-right: 18px;
    position: absolute;
    background-color: #f8f8f8;
    z-index: 1000;
    width: 100%;
}

.nav {
    width: 100%;
}

.nav-container {
    display: none;
    max-width: 512px;
    min-width: 368px;
}

.breadcrumbs {
    display: inline-block;
    padding-left: 9px;
    font-weight: bold;
    text-transform: capitalize;
}

#to_the_front { display: none; }

}



.favicon {
    margin-top: 0px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

.nav-item {
    height: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;

    &.active {
        background-color: #eaeaea;
        -webkit-box-shadow: inset 0px 0px 7px rgba(50, 50, 50, 0.20);
        -moz-box-shadow:    inset 0px 0px 7px rgba(50, 50, 50, 0.20);
        box-shadow:         inset 0px 0px 7px rgba(50, 50, 50, 0.20);
    }
}

.nav-list {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.nav-list > li:hover, li.nav-item > a:hover {
    background-color: #eaeaea;
}

.nav-header.active {
    background-color: #eaeaea;
}

.nav-item > span {
    margin-right: 15px;
}

.nav-header {
    margin-top: 8px;
    font-size: 16px;
    padding-left: 9px;
}

.nav-buttons > button {
    margin-right: 5px;
    margin-left: 7px;
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);
}

.dropdown-menu > li > a {
    color: white;
}

.unread-num {
    padding: 4px;
    background-color: rgba(120,120,120,.6);
}

.fileupload-area {
    position: relative;
    overflow: hidden;
    height: 64px;
    width: 64px;
}

#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 1px;
    direction: ltr;
    cursor: pointer;
}

.feed-title {
    width: 310px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 0px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
    -o-text-overflow: ellipsis;  // for Opera 9 & 10
}

.latest-news {
    width: 300px;
    display: inline-block;
}

#latest_entries {
    margin-top: 48px;
}

.nav-header:first-child {
    margin-top: 0px;
}

.main-logo {
    display: inline-block;
}

.tooltip {
    z-index: 9001;
}
