// http://stackoverflow.com/questions/9350818
@media screen and (min-width:990px) {
    #side-navigator {
        padding: 9px 0px 0px 0px;
        position:fixed;
        z-index: 1;
        height: 100%;
        left: 0px;
        background-color: #f8f8f8;
        border-right: 1px solid #dddddd;
        display: flex;
        flex-direction: column;
    }

    #nav-container {
        top: 56px;
        overflow-y: auto;
        overflow-x: hidden;
        border-width: 1px 0 1px 0;
        border-color: #e5e5e5;
        border-style: solid;
        width: 100%;
        flex: 1 1 0;
    }

    .nav-buttons {
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 46px;
        margin-bottom: 0px;
        padding-left: 0px;

        li {
            height: 46px;
            border-left: 1px solid #e5e5e5;
            span {
                padding: 9px 0px 9px 0px;
                font-size: 18pt;
                width: 100%;
                height: 100%;
            }

            &:first-child {
                border-left: 0px;
            }
        }
    }
}

.favicon {
    margin-top: 0px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
}

.nav-item {
    height: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;

    &:hover {
        background-color: #eaeaea;
    }

    &:first-child {
        border-top: 1px solid #e5e5e5;
    }

    &.active {
        background-color: #eaeaea;
        box-shadow:         inset 0px 0px 7px rgba(50, 50, 50, 0.20);
    }

    > span {
        margin-right: 15px;
    }
}

.nav-list {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.nav-header {
    margin-top: 8px;
    font-size: 16px;
    padding-left: 0px;

    &:first-child {
        margin-top: 0px;
    }
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);

    > li > a {
        color: white;
    }
}

.unread-num {
    margin-right: 5px !important;
    background-color: rgba(120,120,120,.6);
}

.fileupload-area {
    position: relative;
    overflow: hidden;
    height: 64px;
    width: 64px;
}

#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 1px;
    direction: ltr;
    cursor: pointer;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main-logo {
    display: inline-block;
}

.tooltip {
    z-index: 2;
}

#side-navigator, #side-navigator-shadow {
    max-width: 420px;
}
