// http://stackoverflow.com/questions/9350818
.sidebar-nav-fixed {
    padding: 9px;
    position:fixed;
    width: 244px;
    height: 100%;
    left: 0px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-container {
    position: absolute;
    bottom: 68px;
    top: 164px;
    left: 9px;
    right: 9px;
    overflow: auto;
}

.row > .span-fixed-sidebar {
    margin-top: 16px;
    margin-left: 276px;
    margin-right: 16px;
    position: absolute;
    overflow: auto;
}

.nav-list > li:hover, li.nav-item > a:hover {
    background-color: #eaeaea;
}

.nav-item > span {
    margin-right: 15px;
}

.nav-header {
    margin-top: 8px;
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);
}

.dropdown-menu > li > a {
    color: white;
}

.unread-num {
    margin-right: 0px;
    font-size: 70%;
    background-color: rgba(120,120,120,.6);
}

.feed-items {
    padding-left: 24px;
}
