// http://stackoverflow.com/questions/9350818
.sidebar-nav-fixed {
    padding: 9px;
    position:fixed;
    z-index: 9000;
    width: 244px;
    height: 100%;
    left: 0px;
    background-color: #f8f8f8;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.nav-container {
    position: absolute;
    bottom: 48px;
    top: 84px;
    left: 9px;
    right: 1px;
    overflow: auto;
}

.nav {
    width: 215px;
}

.nav-list > li:hover, li.nav-item > a:hover {
    background-color: #eaeaea;
}

.nav-item > span {
    margin-right: 15px;
}

.nav-header {
    margin-top: 8px;
}

.nav-buttons {
    position: absolute;
    bottom: 0px;
}

.nav-buttons > button {
    margin-right: 5px;
    margin-left: 7px;
}

.dropdown-menu {
    background-color: rgba(25,25,25,.8);
}

.dropdown-menu > li > a {
    color: white;
}

.unread-num {
    margin-right: 0px;
    margin-top: 5px;
    font-size: 70%;
    background-color: rgba(120,120,120,.6);
}

.feed-items {
    padding-left: 24px;
}

.spinner-list {
    list-style-image: url(/assets/spinner.16x16.gif);
}

#subscribe_form {
    margin-right: 18px;
    padding-bottom: 9px;
    position: absolute;
    background-color: #f8f8f8;
    z-index: 1000;
}

.fileupload-area {
    position: relative;
    overflow: hidden;
    height: 64px;
    width: 64px;
}

#fileupload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 1px;
    direction: ltr;
    cursor: pointer;
}

.title-ellipsis {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  // IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
    -o-text-overflow: ellipsis;  // for Opera 9 & 10
    display: inline-block;
    margin-bottom: 0px;
}

#latest_entries {
    margin-top: 48px;
}

.nav-header:first-child {
    margin-top: 0px;
}
