<% feeds.each do |feed| %>
  <li class="nav-item" style="list-style-image:url(<%= feed.favicon%>);">
  <span>
  <%= link_to feed.title, feed %>
  <% if feed.unread_count %>
    <span class="pull-right unread-num label" data-id="<%= feed.id %>"><%= feed.unread_count %></span>
  <% end %>
</span>
  </li>
<% end %>
