<ul class="nav-buttons nav-pills nav-justified">
  <li data-toggle="tooltip" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></li>
  <li data-toggle="tooltip" title="Mark All as Read"><span class="glyphicon glyphicon-ok"></span></li>
  <li data-toggle="tooltip" title="Settings (Coming soon!)"><span class="glyphicon glyphicon-cog"></span></li>
  <li data-toggle="tooltip" title="Logout"><span class="glyphicon glyphicon-log-out"></span></li>
</ul>
