<div class="sidebar-nav-fixed well">
  <%= render 'subscribe' %>
  <ul class="nav nav-list">
    <% @categories.each do |cat| %>
      <li class="nav-header"><%= cat.name.camelize %></li>
      <%= render 'feed_titles', feeds: cat.feeds %>
    <% end %>
  </ul>
</div>
