<div class="sidebar-nav-fixed well widget-transparent">
  <%= render 'subscribe' %>

<ul class="nav nav-list" id="latest_entries">
    <li class="nav-header" data-on-mousedown="toTheFront">
        <span>
            <span class="glyphicon glyphicon-th-list"></span>
            <a href="/"><strong>Latest Entries</strong></a>
        </span>
    </li>
  </ul>
<div class="nav-container" data-template="navigation">
</div>
  <%= render 'nav_buttons' %>
</div>

<% content_for :embedded_javascript do %>
window.Shreds.model.import('navigation', <%= raw render('navigation_data') %>);
window.Shreds.assets.add('spinner16x16', '<%= image_path("spinner.16x16.gif") %>');
<% end %>
