<div class="ui huge basic icon buttons">
    <a class="ui button" href="javascript:void(0)"><i class="refresh icon"></i></a>
    <a class="ui button" href="javascript:void(0)"><i class="checkmark box icon"></i></a>
    <%= link_to subscriptions_url, class: 'ui button' do %>
      <i class="options icon"></i>
    <% end %>
    <a class="ui button" href="javascript:void(0)"><i class="line chart icon"></i></a>
    <a class="ui button" href="javascript:void(0)"><i class="sign out icon"></i></a>
</div>
