  <div class="muted">
    <em>by <%= author%></em>
    <div class="pull-right">
      <abbr class="timeago" title="<%= published.iso8601 %>">
        <em><%= strdate(published) %></em>
      </abbr>
    </div>
  </div>
